@import 'tailwindcss';

:root {
    --background: #cececc;
    --foreground: #292320;
    --svg-path: #c32b2e;
    --svg-path-hover: #e69092;
    --svg-path-focus: #8c1f21;
}

/*
Light Theme

Delta
--background: #AEAEAA; 0%
--background: #bebebb; 20%
--background: #cececc; 40%
--background: #AEAEAA; 0%

Cocoa Brown
--foreground: #292320; 0%

Old Brick
--svg-path-focus: #8C1F21; 0%
--svg-path-focus: #c32b2e; 20%
--svg-path-focus: #da585b; 40%
--svg-path-focus: #e07476; 50%
--svg-path-focus: #e69092; 60%

Tobacco Brown
#665C45
*/

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #351815;
        --foreground: #fbe2a3;
        --svg-path: #ec7d4e;
        --svg-path-hover: #f5bca3;
        --svg-path-focus: #df5418;
    }
}

/* 
Dark Theme

Tamarind
--background: #351815;

Casablanca
--foreground: #F7C548; 0%
--foreground: #fadc91; 40% 
--foreground: #fbe2a3; 50%

Tabasco
--svg-path: #A43E12; 0%
--svg-path: #df5418; 20%
--svg-path: #e86830; 30%
--svg-path: #ec7d4e; 40%
--svg-path: #ef936b; 50%
--svg-path: #f2a889; 60%
--svg-path: #f5bca3; 70%

Comet 
# 62647D
*/

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    background: var(--background);
    color: var(--foreground);
}

.svg-button {
    color: var(--svg-path);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.svg-button:hover {
    color: var(--svg-path-hover);
}

.svg-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--svg-path-focus);
    color: var(--svg-path-focus);
}

.svg-button:focus:hover {
    box-shadow: 0 0 0 2px var(--svg-path-hover);
    color: var(--svg-path-hover);
}
